data/netascore_salzburg_walk.json filter=lfs diff=lfs merge=lfs -text
data/netascore_salzburg_walk_child.json filter=lfs diff=lfs merge=lfs -text
data/netascore_salzburg_walk_night.json filter=lfs diff=lfs merge=lfs -text
